
*{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}


.SiteHeader{
    margin: 0;
    background-color: lightgrey;
    margin : 0px;
    &-title{
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-left: 1rem;
        h1{
            margin-top: 0;
            margin-bottom: 10px;
        }
        h2{
            margin:0;
        }
    }
}


.GeneralContainer{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height:75vh;
    align-items: center; 
    &-LeftPanel{ 
        height: inherit;
        &-ArrowNav{
            display: flex;
            justify-content: center;
            height: inherit;
            button{
                height: 100%;
                width: 100%;
            }
        }
    }
    &-MiddlePanel{
        display: flex;
        justify-content: center;
        background-color: black;
        img{
            height: 75vh ;
        }
    }
    &-RightPanel{
        height: inherit;
        &-ArrowNav{
            display: flex;
            justify-content: center;
            height: inherit;
            button{
                height: 100%;
                width: 100%;
            }
        }
    }
}





.SiteFooter{
    height: 3rem;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: lightgrey;
    
}